<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<%- include('./partials/nav') %>
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.name %></p> 
  <p>Address: <%= restaurant.address %></p> 
  <p>Phone: <%= restaurant.phone %></p> 
</body>
</html>
