<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
<%- include('./partials/nav') %>
<h1>Full Menu</h1>
<ul>
    <% menu.forEach((item) => { %>
      <li>
            <h2><%= item.name %></h2>
            <p>Price: £<%= item.price %></p>
            <p>Rating: <%= item.rating %> stars</p>
            <p>Details: <%= item.details %></p>
        </li>
    <% }); %>
  </ul>
</body>
</html>
